<!-- lo usamos despues con el router!!! -->
<legend>Menú</legend>
<table border="1">
  <thead>
    <tr>
      <th>
        <a routerLink="/home" routerLinkActive="menuActive">
          Home
        </a>
      </th>
      <th>
        <a routerLink="/login" routerLinkActive="menuActive">
          Login
        </a>
      </th>
      <th>
        <a routerLink="/base" routerLinkActive="menuActive">
        Base
        </a>
      </th>
      <!--<th>
        <a routerLink="/productos" routerLinkActive="menuActive">
        Producto 1
        </a>
      </th>
      <th>
        <a routerLink="/producto2" (click)="navegarPorTS()" routerLinkActive="menuActive">
        Producto 2
        </a>
      </th>-->
      <th>
        <a routerLink="/productos" routerLinkActive="menuActive">
        Productos
        </a>
      </th>
    </tr>
  </thead>
</table>

<router-outlet></router-outlet>
