<fieldset>
  <legend>Login Comonent</legend>

  <input type="text" [(ngModel)]="username">
  {{username}}
  <br>
  <br>
  <button>
    Login
  </button>

  <button (click)="emitirMensaje()">
    Emitir mensaje al padre
  </button>


</fieldset>
