<h1>
  Producto
</h1>

<div *ngIf="productoId; else ElseProductoId">
  <app-detalle-producto>
  </app-detalle-producto>
</div>

<ng-template #ElseProductoId>
  No hay producto
  <br>
  <br>
  <button (click)="cargarDetalle(id || 0)">
    Detalle
  </button>
</ng-template>

<div class="producto-container">
  <div *ngFor="let p of productos" class="producto-item">
    <h3>{{p.titulo}}</h3>
    <p>{{p.id}}</p>
    <img [src]="p.url" class="imagen">
    <a routerLink="/detalle/{{p.id}}">
      Más información
    </a>
  </div>
</div>
